<div>
        <%= form_with model: [book, book_comment], local: false do |f| %>
        <%= render 'layouts/errors', obj: book_comment %>
         <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに", class: "w-100" %>
         <p><%= f.submit "送信" %></p>
        <% end %>
</div>