<h2>ダイレクトメッセージ一覧</h2>
<table class='table'>
  <thead>
    <tr>
      <th>Image</th>
      <th>Name</th>
      <th>Message</th>
    </tr>
  </thead>
  <tbody>
    <% @messages.each do |message| %>
      <% sender = message.sender %>
      <tr>
        <td><%= image_tag sender.image_url, alt: sender.name, class: 'avatar' %></td>
        <td><%= sender.name %></td>
        <td><%= message.message %></td>
      </tr>
    <% end %>
  </tbody>
</table>
